/* .beerCard{
    display: flex;
    justify-content: left;
    align-items: center;

    }
    
    .beerName {
        font-size: 1.5em;
    }
    
    .randomBeer {
        text-align: center;
    }
    
    .randomBeerImage{
        height: 50vh;
        width: 100%;
    }
     */