.main {
    background-color: rgb(24, 26, 27);
    color: white;
}

.randomCard {
    margin: 5em 3em;
    display: flex;
    justify-content: flex-end;
}

.featuredCard {
    margin: 5em 3em;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.questions{
    text-align: center;
    margin-top: 5em;
    border: solid 2px black;
    height: 12em;
    padding: 60px 0;
}