.beerCard{

background-size: cover;
padding: 8rem 0 0;
width: 100%;
border-radius: 5px;
}

.beerName {
    font-size: 1.5em;
}

.randomBeer {

    text-align: center;

}

/* .randomBeerImage{

    height: 100%;
    width: 100%;
    left: 0%;
    right: 20%;
} */

