.footer {
    margin-top: 1rem;
    padding: 0.01rem;
    background-color: gray;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer span {
    margin-top: 10px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background: gray;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
  }